[project]
	description = Run 10s of VMs to deploy a cloud automatically to run 1000s of VMs in turn!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pranav Salunke (dguitarbite)
[access "refs/for/refs/*"]
	read = group user/Pranav Salunke (dguitarbite)
	push = group user/Pranav Salunke (dguitarbite)
	label-Code-Review = -2..+2 group user/Pranav Salunke (dguitarbite)
	label-Verified = -1..+1 group user/Pranav Salunke (dguitarbite)
	rebase = group user/Pranav Salunke (dguitarbite)
	removeReviewer = group user/Pranav Salunke (dguitarbite)
	submit = group user/Pranav Salunke (dguitarbite)
[access "refs/heads/*"]
	read = group user/Pranav Salunke (dguitarbite)
	create = group user/Pranav Salunke (dguitarbite)
	push = +force group user/Pranav Salunke (dguitarbite)
	pushMerge = group user/Pranav Salunke (dguitarbite)
[access "refs/tags/*"]
	push = +force group user/Pranav Salunke (dguitarbite)
	pushTag = group user/Pranav Salunke (dguitarbite)
	pushSignedTag = group user/Pranav Salunke (dguitarbite)
